---
pathTitle: 'Technologie' # Der pathTitle darf keine Leerzeichen enthalten. Er wird zur Route Erstellung verwendet und sollte deshalb mit dem zugehörigen Ordnernamen übereinstimmen.
title: 'Meine Technologie' # Der title dient zur Anzeige in der Webanwendung. Er kann Leerzeichen enthalten und hat keine Auswirkung auf die Erstellung der Routes. 
description: 'Beschreibung meiner Technolgie. Diese Beschreibung wird in der Web Anwendung angezeigt.'
iconPath: './technologie.png' # valider Pfad zu PNG/JPEG Icon welches in der Technolgiekachel und als Hintergrund der Route der jeweiligen Technologie angezeigt wird. Wird kein Icon Pfad angegeben, wird ein Default Icon angezeigt. (optional)
priorKnowledge: ["JavaScript (Variablen, Funktionen, Closures)", "CSS (Flexbox, BoxModell)", "HTML (Tags, Events, Attribute)"] # Array mit Strings von für diese Technologie wünschenswertem Vorwissen. Wird nur als String angezeigt. (optional)
---