---
pathTitle: 'Thema' # Der pathTitle darf keine Leerzeichen enthalten. Er wird zur Route Erstellung verwendet und sollte deshalb mit dem zugehörigen Ordnernamen übereinstimmen.
title: 'Mein Thema' # Der title dient zur Anzeige in der Webanwendung. Er kann Leerzeichen enthalten und hat keine Auswirkung auf die Erstellung der Routes. 
description: 'Beschreibung meines Themas. Diese Beschreibung wird in der Web Anwendung angezeigt.'
iconPath: './thema.png' # valider Pfad zu PNG/JPEG Icon welches in der Themenkachel und als Hintergrund der Route des jeweiligen Themas angezeigt wird. Wird kein Icon Pfad angegeben, wird ein Default Icon angezeigt. (optional)
---