name: build-on-pr

on:
  push:
    branches-ignore: [ master ]
  pull_request:
      branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: npm install and build
      working-directory: Plattform
      run: |
        npm install
        npm run build
      env:
        CI: true